.header {
    background-color: #1d0472;
    
    color: #fff;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-color: #3a2194;
  }
  
  .cabecalho {
    background-color: #1d0472;
    width: 100%;
    color: #fff;
    border-radius: 0px 0px 20px 20px;
    display: inline-table;
    text-align: left;
    font-style: italic;
    padding: 1rem 0rem;
  
  }
  
  h2{
    margin-left: 60px;
  }